body {
    background-color: #21D4FD;
    background-image: linear-gradient(109deg, #21D4FD 0%, #B721FF 100%);
    /* opacity: 0.5; */
    text-align: center;
    
}

.grid-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
}
.grid-item {
    background-color: antiquewhite;
    border-radius: 5px;
    text-align: center;
    opacity: 0.8;
    padding: 10px;
    font-size: 90px;
    /* color: transparent; */
}
.current{
    background-color:#FFADAD;
    animation: stretch 1.5s ease-in-out 0s infinite alternate none;
    color: unset;

}
.grid-item:hover{
    opacity: 1;
    cursor: wait;
    transform: scale(1.03);
}
.match{
    opacity: 0.1;
    pointer-events: none;
    color: unset;
}
.match:hover{
    opacity: 0.1;
    transform: scale(1);
    pointer-events: none;
    
}
@keyframes stretch {
    0%{
        transform: scale(1.03);
    }
    50%{
        background-color: #FFFEB7;
    }
    100%{
        transform: scale(1.07);
    }
}